
/* Tags*/
body {
  padding: 20px 0;
  font: 300 14px "Lato", sans-serif;
  color: #666756;
  background: #fff;
}

img {max-width:100%}

hr {
    border-top: 2px solid #bbb;
}

/* Portfolio : This is header part.*/
.portfolio {
    margin-top: 10px;
    text-align: right;
    text-transform: uppercase;
    vertical-align: middle;
}

.portfolio-name {
    margin: 5px;
}

.portfolio-subheading {
    margin: 10px;
}

/* Project - This is the main part*/
.project{
    padding-top: 15px;
    text-align: center;
}

.project:hover{
    background-color: #EEE;
}

/* .icon-prev/ .icon-next - Bootstrap default styles for carousel*/
.icon-prev{
    color: black;
    left: 0;
}

.icon-next{
    color: black;
    right: 0;
}

/* footer - This class is for footer tag*/
.footer {
  margin-top: 20px;
  text-align: right;
}

/* 
    Responsive Designs
*/

/*Large Devices*/

@media only screen and (max-width: 990px) {
    .portfolio {
        text-align: center;
    }
    .portfolio-img {
    	margin-top: 20px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}

/*Medium Devices*/
@media only screen and (max-width: 768px  ){
	
    .portfolio {
        text-align: center;
    }
    .portfolio-img {
    	margin-top: 10px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}

/*Small Devices */
@media only screen and (max-width: 470px ){
	
    .portfolio {
        text-align: center;
    }
    .portfolio-img {
    	margin-top: 5px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .portfolio-name {
    font-size: 2.857em;
  }
}

/*Extra Small Devices*/
@media only screen and (max-width: 320px ){
	
    .portfolio {
        text-align: center;
    }
    .portfolio-img {
    	margin-top: 3px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .portfolio-name {
    font-size: 2.857em;
  }
}

